body{
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1240px;
    margin: auto;
}
@import url(https://fonts.googleapis.com/css2?family=Rosario:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);

/* global styles */
.g_par{
    font-family: "DM Sans" sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #555;
    text-align: left;
}
.g_title{
    font-family: "Rosario" sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
}